$main: #FDFEFF;
$teal: #5DC7CC;
$back: #2e3137;
$back2: #3f434c;
$back3: #111319;
$woo: teal;
$fade1: rgba(62, 68, 70, .99);
$fade2: rgba(27, 97, 110, .90);
$offwhite: #e8e8e8;


$prox: Geneva, Verdana, Helvetica, Arial, Sans-Serif;
$serif: Palatino, serif;

h1 {
  font: 2em/2em $prox;
  color: $offwhite;
}
p {
  font: 18px/1em $prox;
  font-weight: light;
  color: $offwhite;
  padding-top:1em;
}
i {
  padding-right:4px;
}
/*$fade1: rgba(86, 88, 97, .99);
$fade2: rgba(39, 43, 52, .90);*/
