<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <script src="https://use.fontawesome.com/416065b512.js"></script>
      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="row hero">
      <div class="hero_text col_half">
        <h1>Ryan Bott</h1>
        <hr class="hero_line"></hr>
        <p>Web &amp; UI Designer</p>
        <div class="links">
          <li><a href="http://staplegun.us/"><i class="fa fa-code code" aria-hidden="true"></i>work</a></li>
          <li><a href="https://dribbble.com/ryanbott"><i class="fa fa-dribbble design" aria-hidden="true"></i>design</a></li>
          <li><a href="https://500px.com/ryanbott"><i class="fa fa-500px photos" aria-hidden="true"></i>photos</a></li>
          <div class="break"><br></div>
          <li><a href="https://www.teepublic.com/user/ryanbott"><i class="fa fa-shopping-cart shop" aria-hidden="true"></i>shop</a></li>
          <li><a href="https://www.instagram.com/ryanbott/"><i class="fa fa-instagram social" aria-hidden="true"></i>social</a></li>
        </div>
      </div>
    </div>
  </body>
</html>
